#container {
  display: table;
  width: 100%;
  height: 100%;
}


#webframe {
  /*
  display: table-cell;
  width: 50%;
  */
  height: 100%;
  padding: 10px;
  background: #ffecb3;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-width: thin;
  border-right: 0px;
}

#webframe_cap {
  color:  #696969;
  text-align: center;
  font-size: 120%;
}

#webframe_profil {
  background: #ffe699;
  border-style:double;
}

#webframe_posts {
  background: #ffe699;
  border-style:dotted;
}

#profil {
  display: table-cell;
  width: 35%;
  min-width:250px;
  padding: 10px;
  background: rosybrown;
  border-style: dotted;
  border-width: 0px;
}

#chat {
  width: 25%;
  min-width:350px;
  padding: 10px;
  background: #ffecb3;
  display:none;
  position:relative;
  overflow:auto;
  border-style: solid;
  border-width: thin;
  border-left: 0px;
}

.mover[draggable=true] {
  display: inline-block;
  text-align:center;

  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mover[draggable=false] {
  display: inline-block;
  text-align:center;
}

.chatmover[draggable=true] {
  display: inline-block;
  text-align:center;

  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.chatmover[draggable=false] {
  display: inline-block;
  text-align:center;
}

#chatopener {
}

#conversationdiv {
  padding: 10px;
  height: 80%;
  overflow:auto;
  overflow-x: hidden;
  border-style: solid;
  border-width: 1px;
}

#conversation {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  width: 100%;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow-x: hidden; // hide vertical
  overflow: auto;
  background-color: #f9f9f9;
  font-size: 17px;
}

#input {
  /*
  position:absolute;
  bottom:0;
  */
  padding: 10px;
  width: 90%;
}

.answer {
  width: 100%;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 1px;
  background-color: #ffe699;
  border: none;
  color: black;
  padding: 5px 5px;
  outline: 1px;
  text-align: left;
  font-size: 16px;

  animation-name: flash;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.45; }
    100% { opacity: 1.0; }
}

.send{
  width: 70%;
  background-color: #4CAF50;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.recieve{
  width: 70%;
  background-color: #999;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.system{
  width: 100%;
  background-color: #FFF;
  text-align: center;
}

div.formular{
    border: 1px solid black;
    background-color: #999;
    height: 38px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
}
