* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
#sidebar div{
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
  height: 97vh;
}

/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.9s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #c1cbcd;
}

/* Create an active/current "tab button" class */
div.tab button.notification {
  background: #ff6666;
	color:#fff;

	animation-name: fade;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes fade {
  0%,100% { opacity: .5 }
  50% { opacity: 1 }
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 75%;
  border-left: none;
  height: 80vh;
  overflow-y: scroll;
}

/* Style the message input field content */
#inputField {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  float: left bottom;
  padding: 2px 12px;
  border: 1px solid #ccc;
  width: 75%;
  border-left: none;
  height: 17vh;
}

/* Style the message input field content */
#sender {
  position:absolute;
  bottom:2vh;
  right: 1vh;
  display: block;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
  font-size: 18px;
  background-color: #ddd;
}

/* Change background color of buttons on hover */
#sender:hover {
  background-color: #ddd;
}

#sender:active {
  background-color: #c1cbcd;
}

/* M E S S A G E S */

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 15px;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.other .msg {
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #c1cbcd;
  background-color: #c1cbcd;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #c1cbcd;
}


.msg {
  background: #fff;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  word-break: break-all;
}
.msg .user {
    font-size: 14px;
    margin: 0 0 2px 0;
    color: #666;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all .2s ease;
}
.msg p {
  font-size: 18px;
  margin: 0 0 2px 0;
  color: #777;
  transition: all .2s ease;
}
.msg time {
  font-size: 0.7rem;
  color: rgba(0,0,0,.35);
  margin-top: 3px;
  float: right;
  cursor: default;
}
