<div id='Content_{{Conversation}}' class='content {{Conversation}}' style='display: none;'>
  <ol id='List_{{Conversation}}'>
  </ol>
  <textarea id='Textarea_{{Conversation}}' placeholder='...' disabled = 'true' onkeyup='textareaCallback("{{Conversation}}", event)'></textarea>
  <button id='Sender_{{Conversation}}' disabled = 'true' onclick='senderCallback("{{Conversation}}", event)'>send</button>
</div>
