<div id='Decision_{{Conversation}}' class="decision">
  {{#Text.Decisions}}
  <button id='Decision_{{ID}}' class="decision {{Conversation}}" onclick='decisionCallback("{{Conversation}}","{{Text}}","{{Next}}","{{ID}}", event)'>
    {{ID}}:<br>{{Text}}
  </button>
  {{/Text.Decisions}}
</div>
