body{
  background-color: rgb(50,51,57);
}

#pagecontent{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#caller{
  position: absolute;
  top:10%;
  width: 200px;
  height: 200px;
}

#circle{
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: rgb(223,226,210);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: silent;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}


@keyframes speak {
  0% {  width: 200px;
        height: 200px; }
  50% { width: 190px;
        height: 190px; }
  100% {width: 200;
        height: 200; }
}

.wordcloud{
  opacity: 0;
  text-align: center;
  color: rgb(223,226,210);
  text-align:center;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;

  animation: hide 3s;
  animation-timing-function: ease-in-out;
}

@keyframes hide {
  from {opacity: 1;}
  to {opacity: 0;}
}

#chatopener{
  width: 60%;
  background-color: rgb(108,191,132);
  border: none;
  color: rgb(223,226,210);
  padding: 10px;
  text-align:center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;

  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#decisions{
  position: absolute;
  bottom: 10%;
  width: 90%;
}

.answer{
  width: 100%;
  white-space: normal;
  background-color: Transparent;
  border: none;
  color: rgb(223,226,210);
  padding: 5px 5px;
  outline: 1px;
  text-align:center;
  font-size: 20px;
  font-weight: bold;
}


.answercontainer {
  width: 100%;
  border-style: none;
  border-width: thin;
  border-color: rgb(223,226,210);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;

  animation-name: flash;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.answercontainer:hover{
  background-color: rgb(80,85,92);
}

.answerbackground {
  width: 0%;
  height: 10px;
  background-color: #ffe699;
  border-radius: 2px;

  animation: grow 15s;
  animation-fill-mode: backwards;
}

@keyframes grow {
  from {width: 100%;
        background-color: rgb(108,191,132);}
  to {width: 0%;
      background-color: rgb(242,105,104);}
}

@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.6; }
  100% { opacity: 1.0; }
}
