<style>

img {
  -webkit-user-drag: none;
}

#name {
  /*cursor: copy;*/
}

#headerbar {
  margin-top: 0px;
  padding-top: 0px;
  position: fixed;
  width: 95%;
  height: 50px;
  background-color: rgba(110,140,190,1);
}

#searchbar, #notifications, #messages {
  max-height: 50px;
}

.titlebar {
  color: rgba(255,255,255,0.5);
  font-family: "Futura", Helvetica;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  cursor:default;
}

.barcontent {
  float: left;
  left-margin: 51px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  max-height: 40px;
  min-height: 40px;
}

.extraspace {
  margin-left: 15px;
  margin-right: 15px;
}

.searchbarinput {
  width: 200px;
  /*height: 30px;*/
  font-size: 1.1em;
}

.notifications {
  opacity: 0.4;
}

.button {
  cursor: url("./cursor32.png");
}

.profile_content_outer {
  width: 100%;
}

.profile_content_inner {
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 60%;
}

.img-circle {
    border-radius: 50%;
  max-width: 130px;
  max-height: 130px;
  overflow: hidden;
}

.headerpic {
  z-index: -1;
  position: absolute;
  max-height: 200px;
  transform: translate(-33%, 0%);
}

.profiletitle {
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.6);
  font-size: 1.2em;
  font-family: "Futura", Helvetica;
  padding: 3px;
}

.profiletitle p {
  margin-top: 0px;
  font-size: 0.6em;
  text-align: center;
  margin-top: 0px;
  min-width: 60%;
}

.post {
  min-width: 60%;
  max-width: 60%;
  background-color: rgba(255,255,255,1);
  margin-top: 25px;
  color: rgba(0,0,0,0.7);
  font-family: "Futura", Helvetica;
  text-align: center;
  padding: 5px;
}

.postdate {
  font-size: 0.7em;
  color: rgba(0,0,0,1);
  text-align: right;
}

.comment {
  font-size: 0.8em;
  background-color: rgba(20,0,0,0.1);
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;

}

.small-icon {
  max-width: 30px;
  margin: 0px;
  padding: 0px;
}

.postimage {
  width: 460px;
  min-height: 0px;
  margin-bottom: 2px;
}

.A_bounce {
      animation: pulse 2s linear infinite;
      /*border: 6px solid green;*/
      /*animation-fill-mode:backwards;*/
  }

  @keyframes pulse {
   0% {
   transform: scale(1, 1);
  }
   50% {
   transform: scale(1.1, 1.1);
   filter: invert(100%);
  }
   100% {
  transform: scale(1, 1);
  };
}

</style>

<div id="tab"> fakebook </div>
<div id="url"> fakebook.de </div>

<div id="headerbar">

  <div>
    <img src="../level1_deploy/data_fakebook/logo.png" class="barcontent extraspace">
  </div>


  <div id="searchbar" class="extraspace">
    <img src="../level1_deploy/data_fakebook/icon_search.png" class="barcontent" id="searchbar_button">
    <input id="searchfield" type="text" class="awesomplete barcontent searchbarinput" placeholder="search for friends"
       data-list="Ketchup, Analphabet, Foo" disabled>
      </input>
  </div>

  <div id="titlebar" class="barcontent titlebar extraspace">
    FAKEBOOK
  </div>

  <div id="notifications">
    <img src="../level1_deploy/data_fakebook/icon_notifications.png" class="barcontent notifications extraspace">
  </div>

  <div id="messages">
    <img src="../level1_deploy/data_fakebook/icon_messages.png" class="barcontent notifications button extraspace A_bounce" id="chatopener">
  </div>


  <div id="searchbar">
    <img src="../level1_deploy/data_fakebook/logo.png" class="barcontent extraspace">
  </div>


</div>


<div class="profile_content_outer" style="width:100%">

  <div class="profile_content_inner">
    <img src="../level1_deploy/data_fakebook/25_chronik.png" class="headerpic">
    <div>
      <img src="../level1_deploy/data_fakebook/25_profil.png" class="img-circle mover" trigger="ID0">
    </div>
  </div>
   <div class="profile_content_inner profiletitle">
    <span id="name" class="mover" trigger="ID1">Natascha Markwart</span>
    <p></p>
  </div>





  <div class="post profile_content_inner">
  	<p class="postdate"></p>
    <p><img class="img-circle small-icon" src="../level1_deploy/data_fakebook/25_profil.png"></p>
  	<p><div><br>So friedlich hat die Crowd dem Markus gelauscht. Die Provokation am Stand ging von den anderen aus!</div></p>
	<img class="postimage" src="../level1_deploy/data_fakebook/13_14_vortrag.png">
  <br> &nbsp;


  </div>


 <div class=" profile_content_inner">
    <p class="postdate"></p>
  </div>

<div id="favorite_pages">
</div>
