body, html {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  color: #444;
  background: white;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
}

#load-json,
#extract-json,
#export-btn {
  cursor: pointer;
  display: block;
}

.rounded {
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}

#inputarea {
  float: left;	
  margin: 5px 10px;
  width: 28vw;
  overflow: scroll;
}

#inputarea textarea {
  width: 27vw;
  font-size: 12px;
  border: 1px solid #706280;
  background: white;
  /*float:left;*/
  padding: 3px;
}

#editarea {
  margin: 5px;
  bottom: 10px;
  left: 295px;
  /*position: absolute;*/
  float:left;
  right: 10px;
  top: 0;
  width: 29vw;
  background: #fff;
  padding: 5px 40px 10px 5px;
  overflow: scroll;
}

#tablearea {
  margin: 5px;
  bottom: 10px;
  left: 405px;
  top: 0;
  float:left;
  width: 29.5vw;
  background: #fff;
  padding: 5px 40px 10px 5px;
  overflow: visible;
}

div {
  padding: 1px;
  margin: 2px 2px 2px 2px;
  border-radius: 5px;
}

#toolarea a {
  color: #EDAF42;
  text-decoration: none;
  border: 1px solid #333;
  width: 20px;
  padding: 2px 10px;
  margin: 2px 0px;
  display: inline-block;
  border-radius: 3px;
  background: #666;
}

th {
    font-weight : bold
}

table {
  border-collapse: collapse;
  font-size: 10px;
}

th {
    border: 2px solid black;
    background-color: #d0d0d0; 
}

th, td {
  padding: 5px;
}


tr:nth-child(odd) {background-color: #f2f2f2}


tr:hover {background-color: #e5f5e5}


.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 0;
    background-color: #4CAF50; /* Green */
    width: 80px;
    height:30px;
    vertical-align: bottom;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    width: 80px;
}