body {
  background-color: rgb(50,51,57);
  overflow: hidden;
}

.swal-overlay {
  background-color: rgba(49, 36, 80, 0.45);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pagecontent{
  display: flex;
  overflow: hidden;
  /*position: absolute;*/
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#caller{
  position: absolute;
  top:10%;
  width: 150px;
  height: 150px;
}

#circle{
  position: absolute;
  border-radius: 50%;
  width: 130%;
  height: 130%;
  background: rgba(223,226,210,0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: silent;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}


@keyframes speak {
  0% {  width: 200px; height: 200px; }
  50% { width: 195px; height: 195px; }
  100% {width: 200;   height: 200; }
}

@keyframes win {
  0% { rgb(191,108,108); }
  100% { rgb(108,191,132); }
}

@keyframes lost {
  0% { rgb(108,191,132); }
  100% { rgb(191,108,108); }
}

#words {
  position: absolute;
  /* display: inline-table; */
  top: 20%;
  /* width: 100%; */
  height: 10%;

  z-index: 2;

  white-space:nowrap;
  overflow: hidden;
}

.word{
  text-align: center;
  color: rgb(223,226,210);
  text-align:center;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;

  animation: fade 10s;
  animation-fill-mode: forwards;

  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(./color.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;

  animation-name: flash;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.word:hover{
  /* Icons8 Nolan */
  cursor: url(./cursor.png) 50 0, auto;
  background-color: rgb(80,85,92);
  display: inline-block;
  text-decoration: underline;
}

@keyframes fade {
  from{opacity: 1;}
  to{opacity: 0;}
}


#number{
  position: absolute;
  top: 40%;
  color: rgb(223,226,210);
  padding: 10px;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

#pickup{
  position: absolute;
  bottom: 30%;
  width: 50%;
  background-color: rgb(108,191,132);
  border: none;
  color: rgb(223,226,210);
  padding: 10px;
  text-align:center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;

  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#decisions{
  position: absolute;
  bottom: 5%;
  width: 90%;
}

.answer{
  width: 100%;
  white-space: normal;
  background-color: Transparent;
  border: none;
  color: rgb(223,226,210);
  padding: 5px 5px;
  outline: 1px;
  text-align:center;
  font-size: 20px;
  font-weight: bold;
}


.answercontainer {
  width: 100%;
  border-style: none;
  border-width: thin;
  border-color: rgb(223,226,210);
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;

  animation-name: flash;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.answercontainer:hover{
  background-color: rgb(80,85,92);
}

.answerbackground {
  width: 0%;
  height: 10px;
  background-color: #ffe699;
  border-radius: 2px;

  animation: grow 15s;
  animation-fill-mode: backwards;
}

@keyframes grow {
  from{
      width: 100%;
      background-color: rgb(108,191,132);
    }
  to{
      width: 0%;
      background-color: rgb(242,105,104);
    }
}
@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.6; }
  100% { opacity: 1.0; }
}
