body {
  margin: 0;
}

/**********************************************
everything concerning the SIDEBAR
*********************************************/
#sidebarParent {
  width:20%;
  height:100vh;
  float: left;
  background-color: #f1f1f1;
}

#sidebarParent button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 20px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.9s;
  font-size: 17px;
}

#sidebarParent button:hover {
  background-color: #ddd;
}

#sidebarParent button.active {
  background-color: #c1cbcd;
}

#sidebarParent button.selected {
  background-color: #c6cbcd;
}

#sidebarParent button.notification {
  background: #ff6666;
  color:#fff;

  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes fade {
  0%,100% { opacity: .5 }
  50% { opacity: 1 }
}

/**********************************************
everything concerning the CONTENVIEW
*********************************************/
.content  {
  float: right;
  width:80%;
  height:100vh;
  position: relative;
}

.content button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-color: #f7f7f7;
  color: black;
  padding: 22px 20px;
  border: none;
  outline: none;
  text-align: left;
  font-size: 17px;
  cursor: pointer;
}

.content button:disabled {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-color: #f7f7f7;
  color: #f8f8f8;
  padding: 22px 20px;
  border: none;
  outline: none;
  text-align: left;
  font-size: 17px;
  cursor: pointer;
}

.content textarea {
  width: 100%;
  height: 20%;

  position: absolute;
  bottom: 0;
  margin:0;
  padding:10px 10px 10px 10px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  border: none;
  resize: none;
  overflow: auto;
}

.typing {
    animation-name: typing;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@-webkit-keyframes typing {
    0%, 100% {opacity: 0.1;}
    50% {opacity: 1.0;}
}


.content ol {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  height: 80%;
  width: 100%;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow-x: hidden; // hide vertical
  overflow: auto;
  background-color: #f9f9f9;
  font-size: 17px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}


li.OWNER {
  text-align: right;
}


.decision button{
  position: relative;
  width: 100%;
  float: right;
  white-space: normal;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 1px;
  background-color: #e7e7e7;
  color: black;
  padding: 22px 20px;
  outline: 1px;
  text-align: left;
  font-size: 14px;
}

.decision button:hover {
  background-color: #ddd;
}

.decision button.active {
  background-color: #c1cbcd;
}
