* {
  -webkit-user-drag: none;
}

html {
    display: table;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: gray;
    padding: 5%;
}

#pagecontent {
  background-color: white;
  padding: 5%;
}

table, td, th {
    border: 1px solid black;
    min-width: 50px
}

table {
    border-collapse: collapse;
    width: 100%;
}

span {
  height: 90%;
  width: 90%;
  display: inline-block;

}
div.trigger, span.trigger{
  display: inline-block;
    /*
  color: lime;
  background-color: rgba(125,25,25,0.5);
  cursor: pointer;
  */
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(./color.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}
.trigger:hover{
  cursor: url(./cursor32.png) 10 0, auto !important;
}
div.found, span.trigger{
  display: inline-block;
}

img {
  width: 90%;
}
img.trigger {
  animation: focus 3s infinite;
}
@keyframes focus {
  0%  {transform: scale(1.0);}
  50% {transform: scale(1.1);}
  100%{transform: scale(1.0);}

}
