*{
	overflow: hidden;
}

tile{
	cursor: -webkit-grab;
}

#dropspot {
	background-color:grey;
	position: absolute;
	padding: 3px;
	color: white;
}

.dragover {
	border: 3px dashed;
	border-color: gold;
}

.occupied {
	border: 3px solid;
	border-color: gold;
}

.swal-overlay {
  background-color: rgba(49, 36, 80, 0.45);
  overflow: hidden;
	max-height: 100px;

}

.swal-modal {
	max-height: 70px;
}

.swal-text {
	font-size: 14px;
	display: inline;
}

.swal-footer{
	display: inline;
	padding: 0;
}
