<html>

<head>

 <meta http-equiv="content-type" content="text/html; charset=utf-8">

   <link rel="stylesheet" href="{{ basepath }}auto-complete.css">
   <link rel="stylesheet" href="{{ basepath }}style.css">


</head>



<body>


<div id="headerbar">

  <div>
    <img src="{{ basepath }}logo.png" class="barcontent extraspace">
  </div>


  <div id="searchbar" class="extraspace">
    <img src="{{ basepath }}icon_search.png" class="barcontent button" id="searchbar_button">
    <input id="searchfield" type="text" class="awesomplete barcontent searchbarinput" placeholder="search for friends"
       data-list="Ketchup, Analphabet, Foo">
      </input>
  </div>

  <div id="titlebar" class="barcontent titlebar extraspace">
    FAKEBOOK
  </div>

  <div id="notifications">
    <img src="{{ basepath }}icon_notifications.png" class="barcontent notifications button extraspace">
  </div>

  <div id="messages">
    <img src="{{ basepath }}icon_messages.png" class="barcontent notifications button extraspace">
  </div>


  <div id="searchbar">
    <img src="{{ basepath }}logo.png" class="barcontent extraspace">
  </div>


</div>


<div class="profile_content_outer" style="width:100%">

  <div class="profile_content_inner">
    <img src="{{ profileheader }}" class="headerpic">
    <div>
      <img src="{{ profilepic }}" class="img-circle">
    </div>
  </div>
   <div class="profile_content_inner profiletitle">
    <span id="name" draggable="true">{{ name }}</span>
    <p>{{ place }}</p>
  </div>




{{#posts}}

  <div class="post profile_content_inner">
  	<p class="postdate">{{ postdate }}</p>
    <p><img class="img-circle small-icon" src="{{ profilepic }}"></p>
  	<p>{{{ postcontent }}}</p>
	<img class="postimage" src="{{ postpic }}">
  <br> &nbsp;

      {{#comments}}
        <div class="profile_content_inner comment">
          <a href="{{ commenterpath }}.html">{{ commenter }}</a> <br>{{{ comment }}}</br> 
        </div>
      {{/comments}}

  </div>

{{/posts}}

 <div class=" profile_content_inner">
    <p class="postdate"></p>
  </div>

<div id="favorite_pages">
</div>


<script src="{{ basepath }}auto-complete.min.js"></script>
<script type="text/javascript" src="{{ basepath }}fbscript.js"></script>

</body>



</html>
