<head><title>First Electron Project</title></head>
<body>
  <h1>Press Buttons to send stuff to main process</h1>
  The main process is the running js defined under <b>"main:"</b> in the package.json <br><br>
  
  the cool thing:<br> we can talk between our webcontent in the browserWindow without setting up weird servers.
  <br><br>
  play a little and then: look into the code and/or the code in the link below. it is relatively self explanatory.
  <br><br>
  <button id="sendASYNC">send ASYNC "ping" to Main</button>
  <button id="sendSYNC">send SYNC "pingSync" to Main</button>
  <button id="UseMethod">send via param "pingMethod" into the pong method exported from index.js</button>
  <br><br>
  <button id="Move">send msg to Main that makes it move the window</button>
  <button id="DevTools">open/close DevTools</button>
  <br><br>

  exposing functions globally. this as well as the other methods are a lot better documented in this perfect code sample:
  <a href="http://electron.rocks/different-ways-to-communicate-between-main-and-renderer-process/" target="_blank">http://electron.rocks/different-ways-to-communicate-between-main-and-renderer-process/</a>
  If both directions are equally important, I'd recommend using the async event messages (e.g. for server/client stuff with the main process involved)


  <script type="text/javascript" src="window.js"></script>
</body>
</html>
