.page {
	margin:30px;
}
.span2 {width:280px;}
.btn-group .btn+ .btn {
    margin-left: 8px;
}
.uneditable-input{display:inline-block;height:80px;padding:4px 6px;margin-bottom:10px;font-size:14px;line-height:20px;color:#555555;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;vertical-align:middle;}