* {
	box-sizing:border-box;
}


body {
	padding: 0px;
	margin: 8px;
}

div {
	font-family: verdana;
}

h1 {
	font-size: 26;
}

#title {
	height: 40px;
	width: 100%;
	line-height: 40px;
}
#recent {
	float: left;
	margin-left: 10px;
	font-weight: bold;
	color: #73A4C9;
}

#tabs {
	height: 38px;
	line-height: 38px;
	width: 100%;
	background-color: #DAD9D9;
	display: inline-block;
}

#ctrl_panel {
	background-color: #ACACAC;
	/* display: inline-block; */ /* electron 1.6 */
	display: inline-grid; 		/* electron 1.7 */
	margin-top: 10px;
	width: 100%;
}

#bottom_bar {
	background-color: #212121;
	font-size: 11px;
	padding: 6px;
	margin-top: 8px;
	overflow: auto;
	color: #F3F3F3;
	max-height: 300px;
	border: solid 4px;
	border-color: #ACACAC;
}

.bottom_btn {
	float: right;
	height: 20px;
	background-color: #555555;
}

.success {
	color: #91D588;
}

.failed {
	color: #DFAFAF;
}

.cue_bar, .cue_bar_sel {
	background-color: #F3F3F3;
	/*display: inline-grid; */ 	/* electron 1.6 */
	display: inline;			/* electron 1.7 */
	height: 35px;
	line-height: 35px;
	margin: 5px;
}

.cue_bar_sel {
	background-color: #FFF7C9;
}

.comment {
	color: black;
	float:left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
	width: 80%;
	height: 100%;
	font-size: 12px;
}

button {
	float:left;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 15%;
	height: 100%;
	color: #FFFFFF;
	background-color: #393939;
	border: none;
	cursor: pointer;
	/*border: 2px solid #595959;*/
	transition-duration: 0.4s;
}

button:hover {
	background-color: #796A13;
}
button:selected {
	border: none;
	color:#D83B3B;
}
button:focus {
	outline:0;
}



.cue_btn {

}

.cue_btn_page {
	background-color: #DF7BBB;
}

.tab_btn, .tab_btn_sel {
	background-color: #F2C1E0;
	margin-right: 4px;
	width: 9.6%;
}
.tab_btn:hover, .tab_btn_sel:hover {
	background-color: #DF7BBB
}

.tab_btn_sel {
	background-color: #DF7BBB;
}

.menu_btn {
	float: right;
	background-color: #73A4C9;
	margin: 5px; 
	height: 75%;
}

.menu_btn:hover {
	background-color: #C3DDFF;
}

.auto {
	background-color: #7c7c7c;
}

.win {
	background-color: #3b551d;
}

.fail {
	background-color: #551b14;
}