table{
    border: 1px solid black;
    table-layout: fixed;
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    word-break: break-all;
    width: 50px;
    overflow: hidden;
}

table tr td:nth-child(5) {
  width: 250px;

}

table:nth-child(even) {
    background: #B6B6C2;
}
