* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: rgba(0,20,20,1);
  color: rgba(85, 255, 75, 1);
  font-family: "Lucida Console",Courier,monospace;

}

#pagecontent {
  position: absolute;z-index: 1
}


iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 0;
}

#pics {
  min-width: 900px;
  margin-top: 100px;
  margin-left: 320px;
}
#pics img {
  border: green 1px solid;
  border-radius: 10vh;
  height:500px;
}

#pics h2 {
  margin-left: 20%;
  color: red;
}

#hackingframe {
  background-color: black;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

.glitch1{
  animation: glitch1 2.5s 1;
}

.glitch2{
  animation: glitch2 0.5s 1;
}

.glitch3{
  animation: glitch4 1.5s 1;
}

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    transform: translate(-2px, -0px);
    opacity: 0.75;
    background-image: url("glitch.jpg");
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.95;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    transform: translate(-3px, -10px);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch4 {
  0% {
    transform: none;
    opacity: 1;
  }
  6% {
    transform: skew(-0.5deg, -0.9deg);
    transform: translate(+2px, -0px);
    opacity: 0.75;
  }
  11% {
    transform: none;
    opacity: 1;
  }
  25% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.4deg, -0.1deg);
    opacity: 0.95;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(1deg, -0.2deg);
    transform: translate(-3px, +10px);
    opacity: 0.75;
    color: lightgreen
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-0.4deg, 0deg);
    opacity: 0.85;
    color: lightgreen;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
    background-image: url("glitch.jpg");
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(0px, +10px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
