th {
    font-weight : bold
}

table {
	border-collapse: collapse;

	
}

th {
    border: 2px solid black;
    background-color: #d0d0d0; 
}

th, td {
	padding: 15px;
}


tr:nth-child(odd) {background-color: #f2f2f2}


tr:hover {background-color: #e5f5e5}
