html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; background-color: black; overflow: hidden;font-family: helvetica, arial, sans-serif; }

#board {
    width: 490px; height: 450px;
    border: 2px solid #333; background: LimeGreen;
    position: relative;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#about_pane, #rules_pane {
	position: absolute; top: 2px; left: 2px; width: 400px; height: 360px;
	border: 5px solid white; background: #efffef;
	text-align: left;
	font-size: 70%;
	padding: 40px;
	z-index: 1000001;
	-moz-box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	box-shadow: 0 0 4px #ccc;
	-moz-box-shadow:inset 0 0 20px #333;
	-webkit-box-shadow:inset 0 0 20px #333;
	box-shadow:inset 0 0 20px #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#about_pane h2, #rules_pane h2 {
    text-align: center; margin-top: -1em; padding-top: -1em;
}

#rules_pane ul {
    margin: 0; padding: 0; list-style-position: outside
}
#rules_pane li {
    margin: 0; padding: 0;
}

#score {
	position: absolute; right: 0; bottom: 0; padding: 0 2px;
}

#moves {
	position: absolute; right: 0; bottom: 20px; padding: 0 2px;
}

#tools {
	position: absolute; bottom: 0; left: 0; width: 100%;
	text-align: left; font-size: 70% !important;
}

#notification {
	width: 488px;
	border: 2px solid #333; border-top: 0; border: 0;
	color: #454545; background: white;
	font-size: .8em; padding: 3px;
}

.card { position: absolute;
	width: 54px; height: 84px;
	border: 2px solid #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
	background: url('../img/tile.png') top left repeat;
	padding: 2px;
	text-align: center; font-size: 200%;
}

.ui-draggable-dragging {
    border: 2px solid #33f;
}

.bed { position: absolute;
	width: 54px; height: 84px;
	border: 2px solid #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
	background: #54ef54;
	padding: 2px;
	text-align: center;
}
