* {
	font-family: verdana;
}
body {
	margin: 0px;
}
#pagecontent {
	width: 100%;
	height: 100%;
}

#field {
	background-color: black;
	width: 100%;
	height: 100%;
}

#frame {
	height: 50px;
}

tile {
	position: absolute;
	left: 0px;
	top: 0px;
	background: grey;
	box-sizing: border-box;
	border: 1px solid;
	border-color: black;
	cursor: grab
}

.swal-overlay{
	overflow: hidden;
}
.swal-title{
	font-size: 34px;
}
.swal-button{
	background-color: red;
	font-size: 24px;
}
.swal-text{
	font-size: 24px;
	text-align: center;
}
.swal-modal{
	width: 50%;
}

/* Style Unterschiede der 5 Player */
.playerA {
	background-color: blue;

	/*start position der nodes nach drop auf playground*/
	--startrow:1;
	--startcol:0;
}
.playerB {
	background-color: green;

	/*start position der nodes nach drop auf playground*/
	--startrow:3;
	--startcol:7;
}
.playerC {
	background-color: cyan;

	/*start position der nodes nach drop auf playground*/
	--startrow:6;
	--startcol:0;
}
.playerD {
	background-color: red;

	/*start position der nodes nach drop auf playground*/
	--startrow:9;
	--startcol:7;
}
.playerE {
	background-color: purple;

	/*start position der nodes nach drop auf playground*/
	--startrow:11;
	--startcol:0;
}

.dragging {
	opacity: 0.6;
}

.applied {
	border: 0px solid;
	border-color: gold;
	box-shadow: 0px 0px 25px 5px gold;
}

.node {
	position: absolute;
	color: black;
	overflow: hidden;
	font-size: 12;
	background-color: white;
	border: none;
	position: static;
	display: block;
	float: left;
	width:44%;
	height: 88%;
	margin: 3%;
	padding: 3%;
	word-wrap: break-word;
}

key {
	color: orange;
	font-weight: bold;
}
