body {
  margin: 3px;
  background-image: url("./bg.png");
  background-size:cover;
  overflow: hidden;
  cursor:default;
}
#browser{
  width: 100%;
  height: 55px;
  background-image: url("./browserbar.jpg");
}
#url{
  font-family: 'Helvetica Neue LT Pro';
  text-align: left;
  font-weight: 500;
  color: rgb(61, 58, 59);
  position: absolute;
  top: 37px;
  left: 155px;
}
#tab{
  font-family: 'Helvetica Neue LT Pro';
  text-align: left;
  font-weight: 500;
  color: rgb(61, 58, 59);
  position: absolute;
  top: 12;
  left: 10;
}
#pagecontent{
  width: 100%;
  height: 675px;
  background: white;
  align-items: center;
  justify-content: center;
  display: table;
}
#webframe1{
  height: 100%;
  padding: 10px;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0.04);
}
#webframe1::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.03);
}
#webframe1::-webkit-scrollbar{
    width: 12px;
    background-color: rgba(255,255,255,0.9);
}
#webframe1::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.3);
}

/* MOVER DO NOT CHANGE */
.mover{
  display: inline-block;

  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(./color.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}
.found {
  display: inline-block;
}
.mover:hover{
  /* Icons8 Nolan */
  /* cursor: url(./assets/cursor128.png) 50 0, auto; */
  cursor: url(./cursor32.png) 10 0, auto !important;

  display: inline-block;
  text-decoration: underline;

  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* CHAT DO NOT CHANGE
#chatopener{
  display: inline-block;
  position: absolute;
  bottom: 7;
  right: 20px;
  width: 25%;
  z-index: 2;
  min-width: 371px;
  background-color: silver;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline: none;
}
#chatopener:hover{
  background-color: darkgray;
}
*/

#chat {
  width: 25%;
  height: 80%;
  min-width: 350px;
  padding: 10px;
  display: none;
  position: absolute;
  bottom: 5px;
  background-color: whitesmoke;
  right: 30px;
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#chatcontainer {
  padding: 10px;
  height: 70%;
  overflow:scroll;
  overflow: auto;
  border-style: solid;
  border-width: 1px;
  background-color: #f9f9f9;
}
#chatcontainer::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.03);
}
#chatcontainer::-webkit-scrollbar{
    width: 3px;
    background-color: rgba(255,255,255,0.9);
}
#chatcontainer::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.3);
}
#conversation {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  width: 100%;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow-x: hidden; // hide vertical
  overflow: auto;
  font-size: 17px;
}
.name {
  float: right;
  width: 100%;
  font-size: xx-small;
}
#input {
  padding: 10px;
  width: 94%;
}
.answer {
  width: 100%;
  /*white-space: normal; */
  overflow: hidden;
  margin-bottom: 5px;
  padding: 1px;
  border: none;
  padding: 5px 5px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  background-color: #c0c9d8;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  animation: flash 3s linear infinite;

}
/*  display: inline-block;
  text-indent: 0;
  animation: marquee 10s linear infinite;
}
*/
.answer:hover{
  cursor: pointer;
  white-space: normal;
  overflow:visible;
}
@keyframes marquee {
        0% { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

.send{
  width: 70%;
  background-color: #c0c9d8;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 3px;
}
.receive{
  position: relative;
  width: 70%;
  background-color: #d9cbae;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 3px;
}
.typing{
  width: 70%;
  background-color: rgba(200,200,200, 0);
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;

  animation-name: type;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@-webkit-keyframes type {
    0%, 100% {opacity: 0.1;}
    50% {opacity: 1.0;}
}
.system{
  width: 100%;
  background-color: #FFF;
  float:right;
  margin-bottom: 10px;
  margin-top: 10px;
}
