		body, html {
			/*height: 100%;*/
			width: 100%;
			background-color: rgba(0,0,0,0.04);
			margin-top: 0px;
		}

		img {
			-webkit-user-drag: none;
		}

		a {
			color: rgba(25, 25, 120, 1);
		}

		#name {
			cursor: copy;
		}

		#headerbar {
			margin-top: 0px;
			padding-top: 0px;
			position: fixed;
			width: 100%;
			height: 50px;
			background-color: rgba(110,140,190,1);
		}

		#searchbar, #notifications, #messages {
			max-height: 50px;
		}

		.titlebar {
			color: rgba(255,255,255,0.5);
			font-family: "Futura", Helvetica;
			font-size: 30px;
			margin-left: 15px;
			margin-right: 15px;
			cursor:default;
		}

		.barcontent {
			float: left;
			left-margin: 51px;
			margin-right: 5px;
			margin-left: 5px;
			margin-top: 5px;
			max-height: 40px;
			min-height: 40px;
		}

		.extraspace {
			margin-left: 15px;
			margin-right: 15px;
		}

		.searchbarinput {
			width: 200px;
			/*height: 30px;*/
			font-size: 1.1em;
		}

		.notifications {
			opacity: 0.4;
		}

		.button {
			cursor:pointer;
		}

		.profile_content_outer {
			width: 100%;
			overflow: scroll;
		}

		.profile_content_inner {
			display: table;
			margin: 0 auto;
			margin-top: 50px;
			max-width: 60%;
		}

		.img-circle {
		    border-radius: 50%;
			max-width: 130px;
			max-height: 130px;
			overflow: hidden;
		}

		.headerpic {
			z-index: -1;
			position: absolute;
			max-height: 200px;
			transform: translate(-33%, 0%);
		}

		.profiletitle {
			color: rgba(255,255,255,0.9);
			background-color: rgba(0,0,0,0.6);
			font-size: 1.2em;
			font-family: "Futura", Helvetica;
			padding: 3px;
		}

		.profiletitle p {
			margin-top: 0px;
			font-size: 0.6em;
			text-align: center;
			margin-top: 0px;
			min-width: 60%;
		}

		.post {
			min-width: 60%;
			max-width: 60%;
			background-color: rgba(255,255,255,1);
			margin-top: 25px;
			color: rgba(0,0,0,0.7);
			font-family: "Futura", Helvetica;
			text-align: center;
			padding: 5px;
		}

		.postdate {
			font-size: 0.7em;
			color: rgba(0,0,0,1);
			text-align: right;
		}

		.comment {
			font-size: 0.8em;
			background-color: rgba(20,0,0,0.1);
			width: 80%;
			margin-bottom: 10px;
			margin-top: 10px;

		}

		.small-icon {
			max-width: 30px;
			margin: 0px;
			padding: 0px;
		}

		.postimage {
			width: 460px;
			min-height: 0px;
			margin-bottom: 2px;
		}
